body {
  margin: 0px;
  padding: 0px;
}

#content {
  border: solid black 1px;
  box-sizing: border-box;
  margin-left: 225px;
}

#content .about {
  margin: auto 200px;
}

nav {
  border-right: solid grey 1px;
  box-shadow: 5px 0px 20px 0px black;
  box-sizing: border-box;
  width: 225px;
  height: 100%;
  position: fixed;
  cursor: pointer;
  padding-top: 200px;
}

nav:hover .sublink_container {
  height: 20px;
  opacity: 1;
}

nav .link_container {
  padding-left: 20px;
}

nav .link_container:hover {
  background-color: black;
  color: white;
}

nav .link_container:hover .link {
  color: white;
}

nav .link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: x-large;
}

nav .sublink_container {
  padding-left: 20px;
  height: 0px;
  opacity: 0;
  transition: all 0.3s;
}

nav .sublink_container .sublink {
  display: block;
  font-size: large;
}

nav .sublink_container .sublink:hover {
  color: orange;
}

.active {
  background: black !important;
  color: white !important;
}

.active .link {
  color: white !important;
}

.active .sublink_container {
  height: 20px !important;
  opacity: 1 !important;
}

.active_sublink {
  color: orange !important;
}
