body {
  margin: 0px;
  padding: 0px;
}

#content {
  border: solid black 1px;
  box-sizing: border-box;
  margin-left: 225px;
}

#content .about {
  margin: auto;
}

nav {
  border-right: solid grey 1px;
  box-shadow: 5px 0px 20px 0px black;
  box-sizing: border-box;
  width: 225px;
  height: 100%;
  position: fixed;
  cursor: pointer;
  padding-top: 200px;
}

nav:hover .sublink_container {
  height: 20px;
  opacity: 1;
}

nav .link_container {
  padding-left: 20px;
}

nav .link_container:hover {
  background-color: black;
  color: white;
}

nav .link_container:hover .link {
  color: white;
}

nav .link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: x-large;
}

nav .sublink_container {
  padding-left: 20px;
  height: 0px;
  opacity: 0;
  transition: all 0.3s;
}

nav .sublink_container .sublink {
  display: block;
  font-size: large;
}

nav .sublink_container .sublink:hover {
  color: orange;
}

.active {
  background: black !important;
  color: white !important;
}

.active .link {
  color: white !important;
}

.active .sublink_container {
  height: 20px !important;
  opacity: 1 !important;
}

.active_sublink {
  color: orange !important;
}

.name {
  padding: 20px;
  font-size: 200%;
  font-family: impact;
  color: grey;
  border-right: dashed black 1px;
  border-bottom: dashed black 1px;
  float: left;
}

.name .alias {
  animation: nameshift80 0.7s linear forwards;
}

.name .last {
  animation: nameshift160 0.7s linear forwards;
}

.cred {
  border-bottom: solid black 1px;
  font-family: impact;
  margin-top: 150px;
  float: left;
  font-size: 200%;
  opacity: 0;
  animation: credfade 1.2s linear 1s forwards;
}

.cred .att {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 100px;
}

.about {
  float: left;
  clear: left;
}

@keyframes nameshift80 {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 90px;
  }
}

@keyframes nameshift160 {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 180px;
  }
}

@keyframes credfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-left: 100px;
  }
}
