:host{ 
    margin-left:200px;
    display: block;
    position: absolute;
    z-index:-1000;
    border-left: solid black 15px;
  }
 
 .cv{
     margin-left: 20px;
     margin-top: 120px;
     width: 60em;
     display: inline-block;
  }
  
  .contact{
     float: left;
     width: 46em;
     font-weight: bold;
     margin-left: 10%;
     border-bottom: double black 3px;
  }
  
  .contact_info{
     width: 22em;
     float: left;
     padding: 0.5em 0.5em 0em 0.5em;
     border-right: double black 3px;
  }
  
  .name{
     font-size: 30px;
     font-weight: bold;
  }
  
  .cred{
      font-size: 30px;
      font-weight: bold;
  }
  
  .contact_address{
      float: left;
      width: 22em;
      padding: 3em 0em 0.5em 0.5em;
  }
  
  .education{
      float: left;
      clear: left;
      width: 46em;
      margin-left: 10%;
      border-bottom: double black 3px;
  }

  .edu{
    width: 8em;
    padding: 0.2em 0em 0em 0.5em;
    font-weight: bold;
  }
  
  .college{
    width: 26em;
    padding-left: 0.2em;
  }
  .college-dates{
    font-style: italic;
    float: right;
  }
  
  .education > div {
      float: left;
      padding-top: 0.3em;
  }
  
  .work-experiance, .intern-experiance, .appe-experiance {
  float: left;
  margin-left: 10%;
}

.work-experiance .experiance, .intern-experiance .experiance, .appe-experiance .experiance {
  float: left;
  width: 46em;
}

.work-experiance .experiance > div, .intern-experiance .experiance > div, .appe-experiance .experiance > div {
  padding-top: 0.3em;
}

.work-experiance .label, .intern-experiance .label, .appe-experiance .label {
  width: 7.5em;
  height: 1.4em;
  padding: 0.2em 0em 0em 0.5em;
  font-weight: bold;
  float: left;
}

.work-experiance .location, .intern-experiance .location, .appe-experiance .location {
  width: 7.5em;
  padding: 0.2em 0em 0em 0.5em;
  font-style: italic;
  float: left;
}

.work-experiance .position, .intern-experiance .position, .appe-experiance .position {
  width: 27em;
  padding-left: 0.5em;
  padding-top: 0.3em;
  float: left;
  font-weight: bold;
}

.work-experiance .position > li, .intern-experiance .position > li, .appe-experiance .position > li {
  text-indent: -1em;
  padding-left: 1.8em;
  list-style-position: outside;
  font-size: 85%;
  font-weight: normal;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.work-experiance .dates, .intern-experiance .dates, .appe-experiance .dates {
  float: right;
  font-style: italic;
  width: 8em;
  text-align: right;
}

.work-experiance .presentations, .intern-experiance .presentations, .appe-experiance .presentations {
  padding-left: 3em !important;
}

.border {
  border-top: double black 3px;
  width: 46em;
}

.leadership {
  float: left;
  margin-left: 10%;
}

.leadership .activity {
  float: left;
  width: 46em;
}

.leadership .activity > div {
  padding-top: 0.3em;
}

.leadership .label {
  width: 7.5em;
  height: 1.4em;
  padding: 0.2em 0em 0em 0.5em;
  font-weight: bold;
  float: left;
}

.leadership .role {
  width: 27em;
  padding-left: 0.5em;
  padding-top: 0.3em;
  float: left;
  font-weight: bold;
}

.leadership .dates {
  float: right;
  font-style: italic;
  width: 10em;
  text-align: right;
}


