$insetshadow: inset 0px 0px 2px 1px grey
$shadow: 2px 2px 5px 2px grey

chadsvasc, hasbled
  float: left
  margin: 5px
  padding: 10px
  border: solid grey 1px
  box-shadow: $shadow
chadsvasc button, hasbled button
  display: block
  width: 87px
  height: 20px
  padding: 0px
  margin: 2px auto
  border: solid grey 1px
  box-shadow: $insetshadow
  background-color: white
  transition: width 0.5s
  .right
    float: left
    width: 15px
    border-right: solid grey 1px
button:hover
  background-color: pink

.active
  background-color: red
  width: 100px
.active:hover
  background-color: red
