c-v
  display: inline-block
  border: solid red 1px
contact
  border-bottom: double black 3px
  float: left
  width: 43em
  font-weight: bold
  margin-left: 10%
  .contact_info
    float: left
    width: 20em
    padding: 0.5em 0.5em 0em 0.5em
    border-right: double black 3px
    .name
      font-size: 30
      font-weight: bold
    .cred
      font-size: 30
      font-weight: bold
  .contact_address
    float: left
    width: 20em
    padding: 2.5em 0em 0.5em 0.5em
education
  border: solid blue 1px
  float: left
  margin-left: 10%
education > div
  float: left
work-experiance
  border: solid red 1px
  float: left
