c-v {
  display: inline-block;
  border: solid red 1px;
}

contact {
  border-bottom: double black 3px;
  float: left;
  width: 44em;
  font-weight: bold;
  margin-left: 10%;
}

contact .contact_info {
  float: left;
  width: 21em;
  padding: 0.5em 0.5em 0em 0.5em;
  border-right: double black 3px;
}

contact .contact_info .name {
  font-size: 30;
  font-weight: bold;
}

contact .contact_info .cred {
  font-size: 30;
  font-weight: bold;
}

contact .contact_address {
  float: left;
  width: 21em;
  padding: 2.5em 0em 0.5em 0.5em;
}

education {
  float: left;
  width: 44em;
  margin-left: 10%;
  border-bottom: double black 3px;
}

education .edu {
  width: 7.5em;
  padding: 0.2em 0em 0em 0.5em;
  font-weight: bold;
}

education .college {
  width: 26em;
  padding-left: 0.2em;
}

education .college-dates {
  font-style: italic;
}

education > div {
  float: left;
  padding-top: 0.4em;
}

work-experiance {
  border: solid red 1px;
  float: left;
  margin-left: 10%;
}
