contact {
  border: solid black 1px;
  float: left;
  width: 50em;
  margin-left: 10%;
}

contact .contact_info {
  float: left;
  border-right: solid black 2px;
}

contact .contact_address {
  float: left;
}

education {
  border: solid blue 1px;
  float: left;
}

work-experiance {
  border: solid red 1px;
  float: left;
}
